div.Info {
    text-align: left;
}

div.Info h1 {
    color: #ADC178;
}

div.Info .img-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.Info img {
    width: 45%;
    border-radius: 40px;
}